<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PartidosWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ExamenFinalCicloPasado/PartidosWS"
                binding="basicHttpBinding" bindingConfiguration="PartidosWSPortBinding"
                contract="PartidosWS.PartidosWS" name="PartidosWSPort" />
        </client>
    </system.serviceModel>
</configuration>